
@{
    ViewData["Title"] = "Address";
}

<h1>Address</h1>
<select id="selectCity">
</select>
<select id="selectDistricts">
</select>
<select id="selectRoads">
</select>
<span id="spanAddress"></span>

@section Styles{
    <style>


    </style>
}
@section Scripts{
    <script>
        const selCity = document.querySelector('#selectCity');
        const selDistricts = document.querySelector('#selectDistricts');
        const selRoads = document.querySelector('#selectRoads');
        const spnAddress = document.querySelector('#spanAddress');
       //載入鄉鎮區
        const loadDistricts = async ()=>{
            //console.log();
            //console.log(selCity.selectedIndex);
            //console.log(selCity.options[selCity.selectedIndex].value);
            //console.log(selCity.options[selCity.selectedIndex].text);
            //@Url.Content("~/api/districts")  => /api/districts
          //  const url = '@Url.Content("~/api/districts")?city=' + selCity.value;
            const url = `@Url.Content("~/api/districts")?city=${selCity.value}` ; 

          //console.log(url);
           const response = await fetch(url);
           const datas = await response.json();

           const districts = datas.map(district=> `<option value="${district}">${district}</option>`);


            selDistricts.innerHTML = districts.join("");

            loadRoads();

         

        }
        //載入路名
        const loadRoads = async () => {
            console.log("district:", selDistricts.value);
            const url = `@Url.Content("~/api/roads")?districts=${selDistricts.value}`;

            const response = await fetch(url);
            const datas = await response.json();

            const roads = datas.map(road => `<option value="${road}">${road}</option>`);


            selRoads.innerHTML = roads.join("");

            loadAddress();
         
         

        }

        const loadAddress = () => {
            spnAddress.textContent = `住址：${selDistricts.value}${selRoads.value}`;
        }
      
        
        //IIFE
        (async ()=>{            
              const response = await fetch('@Url.Content("~/api/cities")');
               const datas = await response.json();
              const cities = datas.map(city => `<option value="${city}">${city}</option>` );
              selCity.innerHTML = cities.join("");
            loadDistricts();

            //await loadDistricts();
            //await loadRoads();
            //loadAddress();


        })();

      

        selCity.addEventListener('change', loadDistricts);
        selDistricts.addEventListener('change', loadRoads);
        selRoads.addEventListener('change', loadAddress);
    </script>
}