
@{
    ViewData["Title"] = "Address";
}

<h1>Address</h1>
<select id="selectCity">
</select>
<select id="selectDistricts">
</select>

@section Styles{
    <style>


    </style>
}
@section Scripts{
    <script>
        const selCity = document.querySelector('#selectCity');
        const selDistricts = document.querySelector('#selectDistricts');
       //載入鄉鎮區
        const loadDistricts = async ()=>{
            //console.log();
            //console.log(selCity.selectedIndex);
            //console.log(selCity.options[selCity.selectedIndex].value);
            //console.log(selCity.options[selCity.selectedIndex].text);
            //@Url.Content("~/api/districts")  => /api/districts
          //  const url = '@Url.Content("~/api/districts")?city=' + selCity.value;
            const url = `@Url.Content("~/api/districts")?city=${selCity.value}` ; 

          //console.log(url);
           const response = await fetch(url);
           const datas = await response.json();

           const districts = datas.map(district=> `<option value="${district}">${district}</option>`);


            selDistricts.innerHTML = districts.join("");

            



        }
        //ajax
        (async ()=>{            
              const response = await fetch('@Url.Content("~/api/cities")');
               const datas = await response.json();
              const cities = datas.map(city => `<option value="${city}">${city}</option>` );
              selCity.innerHTML = cities.join("");
            loadDistricts();
        })();

      

        selCity.addEventListener('change', loadDistricts);
    
      
    </script>
}