
@{
    ViewData["Title"] = "Spots";
}

<h1>台北市景點</h1>



@section Styles{
    <style>


    </style>
}
@section Scripts{
    <script>
        const searchData = {
            "categoryId":0,
            "keyword":"",
            "page":1,
            "pageSize":9,
            "sortBy":"SpotId",
            "sortType":"asc"
        };

       (async ()=>{
           const url = '@Url.Content("~/api/spots")';

             const response = await fetch(url,{
                 method:'POST',
                 body:JSON.stringify(searchData),
                 headers:{
                     'Content-Type':'application/json'
                 }
             });
             const datas = await response.json();
             console.log(datas);

       })();
    </script>
}